include partials/head
main.container-fluid
  .row.justify-content-center.align-items-center.text-center.my-5
    .col-md-6
      h1.fw-bold Error 404: P치gina no encontrada
      p.pb-3 La p치gina que est치 buscando no existe.
      a.btn.btn-info.text-white.fw-bold(href='/') Volver a la p치gina de inicio
include partials/footer