include partials/head
header
  include partials/navbar
main.mt-5
  .container.text-center
    if (sesion.estadoCuenta === "En revisión")
      p.my-5.text-center.fs-1.text-secondary Tú cuenta está en revisión para ser aceptada. Pronto recibiras una respuesta de los administradores de HogarFinder.
    else if (sesion.estadoCuenta == 'Rechazada')
      p.my-5.text-center.fs-1.text-secondary Tú cuenta fue rechazada. Pronto los administradores de HogarFinder se pondrán en contacto contigo para más información.
    else if (sesion.estadoCuenta == 'Aceptada')
      h1.fw-bold.mb-5 Publicar servicio
      .row.justify-content-center
      .col-10.col-sm-8.col-lg-6.col-xl-4
        form#form-post(action='/crear-publicacion' method='POST' enctype="multipart/form-data")
          .mb-4
            label.form-label(for='input-nombre-servicio')
              | Nombre del servcio
            input#input-nombre-servicio.form-control(type='text' name='titulo' required)
          .mb-4
            label.form-label(for='input-descripcion-servicio')
              | Descripción
            textarea#input-descripcion-servicio.form-control(name='descripcion' rows='3' required)
          .mb-4
            label.form-label(for='input-precio-servicio')
              | Precio
            .input-group.mb-3
              span.input-group-text $
              input#input-precio-servicio.form-control(type='number' name='precio' value='0' min='0' required pattern='^(0|[1-9]\d*)(\.\d+)?$')
          .mb-4
            label.form-label(for='input-img-servicio')
              | Imágen
            input#input-img-servicio.form-control(type='file' name='image' accept='image/*')
          button.btn.btn-info.btn-lg.text-white.px-5(type='submit')
            i.bi.bi-upload.me-1
            | &nbsp;Publicar
include partials/footer
include partials/scripts