include partials/head
header
  include partials/navbar
main.mt-5
  .container.text-center
    h1.fw-bold.mb-5 Publicar servicio
    .row.justify-content-center
      .col-10.col-sm-8.col-lg-6.col-xl-4
        form
          .mb-4
            label.form-label(for='input-nombre-servicio')
              | Nombre del servcio
            input#input-nombre-servicio.form-control(type='text' required='')
          .mb-4
            label.form-label(for='input-descripcion-servicio')
              | Descripción
            textarea#input-descripcion-servicio.form-control(rows='3')
          .mb-4
            label.form-label(for='input-precio-servicio')
              | Precio
            .input-group.mb-3
              span.input-group-text $
              input#input-precio-servicio.form-control(type='number' value='0' min='0')
          .mb-4
            label.form-label(for='input-img-servicio')
              | Imágen
            input#input-img-servicio.form-control(type='file' accept='image/*')
          button.btn.btn-info.btn-lg.text-white.px-5(type='submit')
            i.bi.bi-upload.me-1
            | &nbsp;Publicar
include partials/footer
include partials/scripts