include partials/head
header
  include partials/navbar
main.mt-5
  .container.text-center
    if (sesion.estadoCuenta === "En revisión")
      p.my-5.text-center.fs-1.text-secondary Tú cuenta está en revisión para ser aceptada. Pronto recibiras una respuesta de los administradores de HogarFinder.
    else if (sesion.estadoCuenta == 'Rechazada')
      p.my-5.text-center.fs-1.text-secondary Tú cuenta fue rechazada. Pronto los administradores de HogarFinder se pondrán en contacto contigo para más información.
    else if (sesion.estadoCuenta == 'Aceptada')
      h1.fw-bold.mb-5 Editar datos
      .row.justify-content-center
      .col-10.col-sm-8.col-lg-6.col-xl-4
        form
          .mb-4
            label.form-label(for='input-nombre-negocio')
              | Nombre
            input#input-nombre-negocio.form-control(type='text' value='Nombre actual del negocio')
          .mb-4
            label.form-label(for='input-telefono-negocio')
              | Teléfono
            input#input-telefono-negocio.form-control(type='tel' value='4779999999')
          .mb-4
            label.form-label(for='input-direccion-negocio')
              | Dirección
            input#input-direccion-negocio.form-control(type='text' value='Dirección actual del negocio')
          .mb-4
            label.form-label(for='input-tipo-servicio')
              | Tipo/categoría de servicio que ofrece
            select#input-tipo-servicio.form-select(required)
              option(selected) Seleccione una categoría
              option(value='Limpieza') Limpieza
              option(value='Reparación') Reparación
              option(value='Plomería') Plomería
              option(value='Jardinería') Jardinería
              option(value='Electricidad') Electricidad
              option(value='Carpinteria') Carpinteria
              option(value='Pintura') Pintura
              option(value='Comida') Comida
              option(value='Niñeras') Niñeras
              option(value='Mascotas') Mascotas
              option(value='Herrería') Herrería
              option(value='Cerrajería') Cerrajería
              option(value='Mudanzas') Mudanzas
              option(value='Autolavado') Autolavado
          .mb-4
            label.form-label(for='input-correo-negocio')
              | Correo
            input#input-correo-negocio.form-control(type='email' value='correoactual@gmail.com')
          .mb-4
            label.form-label(for='input-foto-negocio')
              | Foto de perfil
            input#input-foto-negocio.form-control(type='file' accept='image/*')
          .mb-4
            label.form-label(for='input-nuevo-password')
              | Nueva contraseña
            input#input-nuevo-password.form-control(type='password')
          .mb-4
            label.form-label(for='input-confirmar-nuevo-password')
              | Confirmar nueva contraseña
            input#input-confirmar-nuevo-password.form-control(type='password' disabled)
          .mb-4
            label.form-label(for='input-password-actual')
              | Contraseña actual
            input#input-password-actual.form-control(type='password' disabled)
          button.btn.btn-info.btn-lg.text-white.px-5(type='submit')
            i.bi.bi-arrow-counterclockwise
            | &nbsp;Actualizar
include partials/footer
include partials/scripts