include partials/head
header
  nav.navbar.navbar-expand-sm.navbar-light.bg-light
    .container
      a.navbar-brand(href='/') HogarFinder
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mb-0.mb-lg-0.flex-fill
          li.nav-item.mx-auto
            a.nav-link.active(aria-current='page' href='/')
              | Buscar
          li.nav-item
            a.nav-link(href='/perfil/1') Perfil
          li.nav-item
            a.nav-link(href='/') Cerrar sesi칩n
main.mt-5
  .container.text-center
    h1.fw-bold.mb-5 Editar datos
    .row.justify-content-center
      .col-10.col-sm-8.col-lg-6.col-xl-4
        form
          .mb-4
            label.form-label(for='input-nombre-cliente')
              | Nombre
            input#input-nombre-cliente.form-control(type='text' value='Nombre actual del cliente')
          .mb-4
            label.form-label(for='input-apellido-cliente')
              | Apellido
            input#input-apellido-cliente.form-control(type='text' value='Apellido actual del cliente')
          .mb-4
            label.form-label(for='input-correo-cliente')
              | Correo
            input#input-correo-cliente.form-control(type='email' value='correoactual@gmail.com')
          .mb-4
            label.form-label(for='input-foto-cliente')
              | Foto de perfil
            input#input-foto-cliente.form-control(type='file' accept='image/*')
          .mb-4
            label.form-label(for='input-nuevo-password')
              | Nueva contrase침a
            input#input-nuevo-password.form-control(type='password')
          .mb-4
            label.form-label(for='input-confirmar-nuevo-password')
              | Confirmar nueva contrase침a
            input#input-confirmar-nuevo-password.form-control(type='password' disabled)
          .mb-4
            label.form-label(for='input-password-actual')
              | Contrase침a actual
            input#input-password-actual.form-control(type='password' disabled)
          button.btn.btn-info.btn-lg.text-white.px-5(type='submit')
            i.bi.bi-arrow-counterclockwise
            | &nbsp;Actualizar
include partials/footer
include partials/scripts