include partials/head
header
  include partials/navbar
aside
  .container
    button.btn.btn-light.mt-1(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasExample' aria-controls='offcanvasExample')
      i.bi.bi-list(style='font-size: 2rem')
  #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
    .offcanvas-header
      h5#offcanvasExampleLabel.offcanvas-title.fw-bold
        | Categorías
      button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
    .offcanvas-body
      .list-group.list-group-flush
        button.list-group-item.list-group-item-action(type='button')
          | Limpieza
        button.list-group-item.list-group-item-action(type='button')
          | Reparación
        button.list-group-item.list-group-item-action(type='button')
          | Plomería
        button.list-group-item.list-group-item-action(type='button')
          | Jardinería
        button.list-group-item.list-group-item-action(type='button')
          | Electricidad
        button.list-group-item.list-group-item-action(type='button')
          | Carpinteria
        button.list-group-item.list-group-item-action(type='button')
          | Pintura
        button.list-group-item.list-group-item-action(type='button')
          | Comida
        button.list-group-item.list-group-item-action(type='button')
          | Niñeras
        button.list-group-item.list-group-item-action(type='button')
          | Mascotas
        button.list-group-item.list-group-item-action(type='button')
          | Herrería
        button.list-group-item.list-group-item-action(type='button')
          | Cerrajería
        button.list-group-item.list-group-item-action(type='button')
          | Mudanzas
        button.list-group-item.list-group-item-action(type='button')
          | Autolavado
main
  .container
    .d-flex.justify-content-between.mt-4
      h1.fw-bold Resultados
      a.btn.btn-info.btn-lg.text-white(href='filtros' role='button')
        i.bi.bi-funnel-fill.me-2
        | Filtros
    .mt-4.row.g-3
      each servicio in servicios
        article.col-12.col-lg-6
          a.card.text-decoration-none.text-reset(href='servicio/' + servicio.ID_Post)
            .d-flex.flex-column.flex-sm-row
              .d-flex.d-sm-block
                img.rounded-start.col(src='https://placehold.co/200/skyblue/white' alt='Servicio')
              div
                .card-body
                  h5.card-title.fw-bold #{servicio.Titulo}
                  p.card-text
                    small.text-muted #{servicio.Nombre_negocio}
                  p.card-text #{servicio.Descripcion}
include partials/footer
include partials/scripts