include partials/head
header
  include partials/navbar
aside
  .container
    button.btn.btn-light.mt-1(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasExample' aria-controls='offcanvasExample')
      i.bi.bi-list(style='font-size: 2rem')
  #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
    .offcanvas-header
      h5#offcanvasExampleLabel.offcanvas-title.fw-bold
        | Categorías
      button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
    .offcanvas-body
      .list-group.list-group-flush
        a.list-group-item.list-group-item-action(href='/categoria/limpieza')
          | Limpieza
        a.list-group-item.list-group-item-action(href='/categoria/reparacion')
          | Reparación
        a.list-group-item.list-group-item-action(href='/categoria/plomeria')
          | Plomería
        a.list-group-item.list-group-item-action(href='/categoria/jardineria')
          | Jardinería
        a.list-group-item.list-group-item-action(href='/categoria/electricidad')
          | Electricidad
        a.list-group-item.list-group-item-action(href='/categoria/carpinteria')
          | Carpinteria
        a.list-group-item.list-group-item-action(href='/categoria/pintura')
          | Pintura
        a.list-group-item.list-group-item-action(href='/categoria/comida')
          | Comida
        a.list-group-item.list-group-item-action(href='/categoria/niñeras')
          | Niñeras
        a.list-group-item.list-group-item-action(href='/categoria/mascotas')
          | Mascotas
        a.list-group-item.list-group-item-action(href='/categoria/herreria')
          | Herrería
        a.list-group-item.list-group-item-action(href='/categoria/cerrajeria')
          | Cerrajería
        a.list-group-item.list-group-item-action(href='/categoria/mudanzas')
          | Mudanzas
        a.list-group-item.list-group-item-action(href='/categoria/autolavado')
          | Autolavado
main
  .container
    .d-flex.justify-content-between.mt-4
      h1.fw-bold Resultados
      a.btn.btn-info.btn-lg.text-white(href='/filtros' role='button')
        i.bi.bi-funnel-fill.me-2
        | Filtros
    .mt-4.row.g-3
      if servicios.length === 0
        p.text-center.my-5.fs-2.text-secondary Lo sentimos, no hay servicios que coincidan con tu busqueda.
      each servicio in servicios
        article.col-12.col-lg-6
          a.card.text-decoration-none.text-reset(href='/servicio/' + servicio.ID_Post)
            .d-flex.flex-column.flex-sm-row
              .d-flex.d-sm-block
                .servicio-thumbnail-200
                  img.rounded-start.col(src=(servicio.foto ? '/images/' + servicio.foto : 'https://placehold.co/200/skyblue/white') alt='Servicio')
              div
                .card-body
                  h5.card-title.fw-bold #{servicio.Titulo}
                  p.card-text
                    small.text-muted #{servicio.Nombre_negocio}
                  p.card-text #{servicio.Descripcion}
include partials/footer
include partials/scripts