include partials/head
header
  include partials/navbar
main.mt-5
  .container
    h1.fw-bold.mb-4
      | Reportes de negocios
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th(scope='col') Cliente
            th(scope='col' style='') Correo cliente
            th(scope='col' style='') Negocio reportado
            th(scope='col' style='min-width: 300px') Problema descrito
        tbody
          each reporte in reportes
            tr
              th.fw-normal(scope='row') #{reporte.nombre_cliente}
              td
                a.link-dark(href='mailto:' + reporte.Correo_Electronico role='button')
                  |#{reporte.Correo_Electronico}
              td
                a(href="/perfil-negocio/" + reporte.ID_Negocio).link-dark #{reporte.Nombre_Negocio}
              td
                p #{reporte.problema}
include partials/footer
include partials/scripts