include partials/head
header
  nav.navbar.navbar-expand-sm.navbar-light.bg-light
    .container
      a.navbar-brand(href='/') HogarFinder
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mb-0.mb-lg-0.flex-fill
          li.nav-item.mx-auto
            a.nav-link.active(aria-current='page' href='/')
              | Buscar
          li.nav-item
            a.nav-link(href='/perfil-negocio/' + id) Perfil
          li.nav-item
            a.nav-link(href='/') Cerrar sesión
main.mt-5
  .container
    .row.gy-3.mb-5
      .col-12.col-md-6.col-lg-4
        img.w-100(src='https://placehold.co/200/skyblue/white' alt='Servicio')
      .col-12.col-md-6.col-lg-8
        h1.fw-bold Nombre del servicio #{id}
        p.text-muted
          | Por&nbsp;
          a.link-dark.link-offset-2.link-underline-opacity-25.link-underline-opacity-100-hover(href='/perfil-negocio/' + id)
            | Nombre del negocio
          | &nbsp;el 07/04/2023
        p
          | Descripción sobre el servicio que ofrece la empresa. Lorem ipsum
          | dolor sit, amet consectetur adipisicing elit. Officiis obcaecati
          | neque consequatur enim ex aperiam esse sequi tenetur molestiae,
          | blanditiis eligendi quasi a cum veniam at et reprehenderit maxime
          | nulla.
        p.text-muted
          | $
          span.text-body.fs-5 100.00
          | &nbsp;MXN
    .text-center
      a.btn.btn-info.btn-lg.text-white(href='' role='button')
        i.bi.bi-telephone-fill.me-1
        | &nbsp;477-999-9999
include partials/footer
include partials/scripts