include partials/head
header
  nav.navbar.navbar-light.bg-light
    .container.justify-content-center
      a.navbar-brand(href='/') Logo HogarFinder
main.mt-5
  .container.text-center
    h1.fw-bold.mb-5 Crear cuenta
    .mb-4
      p.d-inline-block.me-2 Quiere registrarse como:
      .form-check.d-inline-block.me-2
        input#checkbox-cliente.form-check-input(type='radio' name='tipo-negocio' checked='')
        label.form-check-label(for='checkbox-cliente') Cliente
      .form-check.d-inline-block
        input#checkbox-negocio.form-check-input(type='radio' name='tipo-negocio')
        label.form-check-label(for='checkbox-negocio') Negocio
    .row.justify-content-center
      .col-10.col-sm-8.col-lg-6.col-xl-4
        form#form-cliente(action='/signup/' method='POST')
          .mb-4
            label.form-label(for='input-nombre-cliente')
              | Nombre
            input#input-nombre-cliente.form-control(type='text' name='nombreCliente' required)
          .mb-4
            label.form-label(for='input-apellido-cliente')
              | Apellido
            input#input-apellido-cliente.form-control(type='text' name='apellidoCliente' required)
          .mb-4
            label.form-label(for='input-correo-cliente')
              | Correo
            input#input-correo-cliente.form-control(type='email' name='emailCliente' pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$' required)
          .mb-4
            label.form-label(for='input-password-cliente')
              | Contraseña
            input#input-password-cliente.form-control(type='password' name='passwordCliente' required placeholder='Minimo 8 caracteres')
          .mb-4
            label.form-label(for='input-confirmar-password-cliente')
              | Confirmar contraseña
            input#input-confirmar-password-cliente.form-control(type='password' name='confirmarPasswordCliente' required)
          input(type='hidden' value='cliente' name='tipoCuenta')
          button.btn.btn-info.btn-lg.text-white.px-5(type='submit')
            i.bi.bi-box-arrow-in-right.me-2
            | Crear
        form#form-negocio.d-none(action='/signup/' method='POST')
          .mb-4
            label.form-label(for='input-nombre-negocio')
              | Nombre del negocio
            input#input-nombre-negocio.form-control(type='text' name="nombreNegocio" required)
          .mb-4
            label.form-label(for='input-tipo-negocio')
              | Tipo de negocio
            select#input-tipo-negocio.form-select(name="tipoNegocio" required)
              option(selected value='Empresa') Empresa
              option(value='Trabajador autónomo') Trabajador autónomo
          .mb-4
            label.form-label(for='input-tipo-servicio')
              | Tipo/categoría de servicio que ofrece
            select#input-tipo-servicio.form-select(name='tipoServicio' required)
              option(value='' selected) Seleccione una categoría
              option(value='Limpieza') Limpieza
              option(value='Reparación') Reparación
              option(value='Plomería') Plomería
              option(value='Jardinería') Jardinería
              option(value='Electricidad') Electricidad
              option(value='Carpinteria') Carpinteria
              option(value='Pintura') Pintura
              option(value='Comida') Comida
              option(value='Niñeras') Niñeras
              option(value='Mascotas') Mascotas
              option(value='Herrería') Herrería
              option(value='Cerrajería') Cerrajería
              option(value='Mudanzas') Mudanzas
              option(value='Autolavado') Autolavado
          .mb-4
            label.form-label(for='input-telefono-negocio')
              | Teléfono del negocio
            input#input-telefono-negocio.form-control(type='tel' name='telefonoNegocio' pattern='[0-9]{10}' required placeholder='4770000000')
          .mb-4
            label.form-label(for='input-domicilio-negocio')
              | Domicilio
            input#input-domicilio-negocio.form-control(type='text' name='domicilioNegocio' required)
          .mb-4
            label.form-label(for='input-pdf-ine')
              | INE del dueño/encargado (PDF)
            input#input-pdf-ine.form-control.form-control-lg(type='file' accept='.pdf')
          .mb-4
            label.form-label(for='input-pdf-rfc')
              | RFC (PDF)
            input#input-pdf-rfc.form-control.form-control-lg(type='file' accept='.pdf')
          .mb-4
            label.form-label(for='input-pdf-comprobante')
              | Comprobante de domicilio (PDF)
            input#input-pdf-comprobante.form-control.form-control-lg(type='file' accept='.pdf')
          .mb-4
            label.form-label(for='input-correo-negocio')
              | Correo
            input#input-correo-negocio.form-control(type='email' name='emailNegocio' pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$' required)
          .mb-4
            label.form-label(for='input-password-negocio')
              | Contraseña
            input#input-password-negocio.form-control(type='password' name='passwordNegocio' required placeholder='Minimo 8 caracteres')
          .mb-4
            label.form-label(for='input-confirmar-password-negocio')
              | Confirmar contraseña
            input#input-confirmar-password-negocio.form-control(type='password' name='confirmarPasswordNegocio' required)
          input(type='hidden' value='negocio' name='tipoCuenta')
          button.btn.btn-info.btn-lg.text-white.px-5(type='submit')
            i.bi.bi-box-arrow-in-right.me-2
            | Crear
        p.mt-5
          | ¿Ya tiene una cuenta? inicie sesión:&nbsp;
          a.link-info(href='login') Log in
include partials/footer
include partials/scripts