include partials/head
header
  nav.navbar.navbar-light.bg-light
    .container.justify-content-center
      a.navbar-brand(href='/') Logo HogarFinder
main.mt-5
  .container.text-center
    h1.fw-bold.mb-5 Crear cuenta
    .mb-4
      p.d-inline-block.me-2 Quiere registrarse como:
      .form-check.d-inline-block.me-2
        input#input-cliente.form-check-input(type='radio' name='tipo-negocio' checked='')
        label.form-check-label(for='input-cliente') Cliente
      .form-check.d-inline-block
        input#input-negocio.form-check-input(type='radio' name='tipo-negocio')
        label.form-check-label(for='input-negocio') Negocio
    .row.justify-content-center
      .col-10.col-sm-8.col-lg-6.col-xl-4
        form
          .mb-4
            label.form-label(for='input-nombre-cliente')
              | Nombre
            input#input-nombre-cliente.form-control(type='text')
          .mb-4
            label.form-label(for='input-telefono-cliente')
              | Teléfono
            input#input-telefono-cliente.form-control(type='tel')
          .mb-4
            label.form-label(for='input-correo-cliente')
              | Correo
            input#input-correo-cliente.form-control(type='email')
          .mb-4
            label.form-label(for='input-password-cliente')
              | Contraseña
            input#input-password-cliente.form-control(type='password')
          .mb-4
            label.form-label(for='input-confirmar-password-cliente')
              | Confirmar contraseña
            input#input-confirmar-password-cliente.form-control(type='password')
          button.btn.btn-info.btn-lg.text-white.px-5(type='submit')
            i.bi.bi-box-arrow-in-right.me-2
            | Crear
        form.d-none
          .mb-4
            label.form-label(for='input-nombre-dueño-negocio')
              | Nombre del encargado/dueño
            input.form-control(type='text' id='input-nombre-dueño-negocio')
          .mb-4
            label.form-label(for='input-nombre-negocio')
              | Nombre del negocio
            input#input-nombre-negocio.form-control(type='text')
          .mb-4
            label.form-label(for='input-telefono-negocio')
              | Teléfono del negocio
            input#input-telefono-negocio.form-control(type='tel')
          .mb-4
            label.form-label(for='input-correo-telefono')
              | Correo
            input#input-correo-telefono.form-control(type='email')
          .mb-4
            label.form-label(for='input-password-negocio')
              | Contraseña
            input#input-password-negocio.form-control(type='password')
          .mb-4
            label.form-label(for='input-confirmar-password-negocio')
              | Confirmar contraseña
            input#input-confirmar-password-negocio.form-control(type='password')
          .mb-4
            label.form-label(for='input-archivos-negocio')
              | Documentos (PDF)
            input#input-archivos-negocio.form-control.form-control-lg(type='file' aria-describedby='descripcion-archivos-negocio' multiple='3' accept='.pdf')
            #descripcion-archivos-negocio.form-text
              | INE, RFC y comprobante de domicilio del encargado/dueño
          button.btn.btn-info.btn-lg.text-white.px-5(type='submit')
            i.bi.bi-box-arrow-in-right.me-2
            | Crear
        p.mt-5
          | ¿Ya tiene una cuenta? inicie sesión:&nbsp;
          a.link-info(href='login') Log in
include partials/footer
include partials/scripts