include partials/head
header
  include partials/navbar
main.mt-5
  .container
    h1.fw-bold.mb-4
      | Solicitudes de creación de cuentas de negocios
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th(scope='col' style='min-width: 150px') Negocio
            th(scope='col' style='min-width: 150px') Teléfono
            th(scope='col' style='min-width: 150px') Dirección
            th(scope='col') Tipo de negocio
            th(scope='col').text-center INE
            th(scope='col').text-center RFC
            th(scope='col').text-center C.D.
            th(scope='col' style='min-width: 150px') Estado
        tbody
          each solicitud in solicitudes
            tr
              th(scope='row') #{solicitud.Nombre_negocio}
              td.text-center
                a.btn.btn-info.btn-sm.text-white(href='' role='button')
                  i.bi.bi-telephone-fill.me-1
                  | &nbsp;#{solicitud.Telefono_Negocio}
              td
                | #{solicitud.Domicilio}
              td
                | #{solicitud.Tipo_Negocio}
              td.text-center
                a.link-dark.fs-1(href='archivo.pdf')
                  i.bi.bi-file-earmark-pdf
              td.text-center
                a.link-dark.fs-1(href='archivo.pdf')
                  i.bi.bi-file-earmark-pdf
              td.text-center
                a.link-dark.fs-1(href='archivo.pdf')
                  i.bi.bi-file-earmark-pdf
              td
                select.form-select.border-2(class=(solicitud.Estado === 'En revisión' ? 'border-warning' : solicitud.Estado === 'Aceptada' ? 'border-success' : 'border-danger'))
                  option(value='En revisión' selected=(solicitud.Estado === 'En revisión')) En revisión
                  option.text-success(value='Aceptada' selected=(solicitud.Estado === 'Aceptada')) Aceptada
                  option.text-danger(value='Rechazada' selected=(solicitud.Estado === 'Rechazada')) Rechazada
    .text-end
      button.btn.btn-info.btn-lg.text-white(type='button')
        i.bi.bi-save.me-1
        | &nbsp;Guardar
include partials/footer
include partials/scripts