nav.navbar.navbar-expand-sm.navbar-light.bg-light
  .container
    a.navbar-brand(href='/')
      img.me-2(src='/images/logo.jpg' alt='logo' style='width:35px')
      span HogarFinder
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mb-0.mb-lg-0.flex-fill
        li.nav-item.mx-auto
          a.nav-link.active(aria-current='page' href='/')
            | Buscar
        if sesion.logged
          if sesion.tipoCuenta == 'cliente'
            li.nav-item
              a.nav-link(href='/perfil') Perfil
          else if sesion.tipoCuenta == 'negocio'
            li.nav-item
              a.nav-link(href='/perfil-negocio/' + sesion.ID_Usuario) Perfil
          else if sesion.tipoCuenta == 'administrador'
            li.nav-item
              a.nav-link(href='/solicitudes') Solicitudes
            li.nav-item
              a.nav-link(href='/reportes') Reportes
          li.nav-item
            a.nav-link(href='/logout') Cerrar sesión
        else
          li.nav-item
            a.nav-link(href='/login') Iniciar sesión
          li.nav-item
            a.nav-link(href='/signup') Crear cuenta