<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
			crossorigin="anonymous"
		/>
		<!-- Bootstrap icons -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
		/>
		<title>Hogarfinder</title>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-sm navbar-light bg-light">
				<div class="container">
					<a class="navbar-brand" href="/">HogarFinder</a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mb-0 mb-lg-0 flex-fill">
							<li class="nav-item mx-auto">
								<a class="nav-link active" aria-current="page" href="#">
									Buscar
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="login.html">Iniciar sesión</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="signin.html">Crear cuenta</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<aside>
			<div class="container">
				<button
					class="btn btn-light mt-1"
					type="button"
					data-bs-toggle="offcanvas"
					data-bs-target="#offcanvasExample"
					aria-controls="offcanvasExample"
				>
					<i class="bi bi-list" style="font-size: 2rem"></i>
				</button>
			</div>
			<div
				class="offcanvas offcanvas-start"
				tabindex="-1"
				id="offcanvasExample"
				aria-labelledby="offcanvasExampleLabel"
			>
				<div class="offcanvas-header">
					<h5 class="offcanvas-title fw-bold" id="offcanvasExampleLabel">
						Categorías
					</h5>
					<button
						type="button"
						class="btn-close text-reset"
						data-bs-dismiss="offcanvas"
						aria-label="Close"
					></button>
				</div>
				<div class="offcanvas-body">
					<div class="list-group list-group-flush">
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Limpieza
						</button>
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Reparación
						</button>
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Plomería
						</button>
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Jardinería
						</button>
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Electricidad
						</button>
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Carpinteria
						</button>
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Pintura
						</button>
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Comida
						</button>
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Niñeras
						</button>
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Mascotas
						</button>
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Herrería
						</button>
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Cerrajería
						</button>
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Mudanzas
						</button>
						<button
							type="button"
							class="list-group-item list-group-item-action"
						>
							Autolavado
						</button>
					</div>
				</div>
			</div>
		</aside>
		<main>
			<div class="container">
				<div class="d-flex justify-content-between mt-4">
					<h1 class="fw-bold">Resultados</h1>
					<a
						class="btn btn-info btn-lg text-white"
						href="filtros.html"
						role="button"
					>
						<i class="bi bi-funnel-fill me-2"></i>
						Filtros
					</a>
				</div>
				<div class="mt-4 row g-3">
					<article class="col-12 col-lg-6">
						<a
							href="servicio.html"
							class="card text-decoration-none text-reset"
						>
							<div class="d-flex flex-column flex-sm-row">
								<div class="d-flex d-sm-block">
									<img
										src="https://placehold.co/200/skyblue/white"
										class="rounded-start col"
										alt="Servicio"
									/>
								</div>
								<div>
									<div class="card-body">
										<h5 class="card-title fw-bold">Nombre del servicio</h5>
										<p class="card-text">
											<small class="text-muted">Nombre de la empresa</small>
										</p>
										<p class="card-text">
											This is a wider card with supporting text below as a
											natural lead-in to additional content. This content is a
											little bit longer.
										</p>
									</div>
								</div>
							</div>
						</a>
					</article>
					<article class="col-12 col-lg-6">
						<a
							href="servicio.html"
							class="card text-decoration-none text-reset"
						>
							<div class="d-flex flex-column flex-sm-row">
								<div class="d-flex d-sm-block">
									<img
										src="https://placehold.co/200/skyblue/white"
										class="rounded-start col"
										alt="Servicio"
									/>
								</div>
								<div>
									<div class="card-body">
										<h5 class="card-title fw-bold">Nombre del servicio</h5>
										<p class="card-text">
											<small class="text-muted">Nombre de la empresa</small>
										</p>
										<p class="card-text">
											This is a wider card with supporting text below as a
											natural lead-in to additional content. This content is a
											little bit longer.
										</p>
									</div>
								</div>
							</div>
						</a>
					</article>
					<article class="col-12 col-lg-6">
						<a
							href="servicio.html"
							class="card text-decoration-none text-reset"
						>
							<div class="d-flex flex-column flex-sm-row">
								<div class="d-flex d-sm-block">
									<img
										src="https://placehold.co/200/skyblue/white"
										class="rounded-start col"
										alt="Servicio"
									/>
								</div>
								<div>
									<div class="card-body">
										<h5 class="card-title fw-bold">Nombre del servicio</h5>
										<p class="card-text">
											<small class="text-muted">Nombre de la empresa</small>
										</p>
										<p class="card-text">
											This is a wider card with supporting text below as a
											natural lead-in to additional content. This content is a
											little bit longer.
										</p>
									</div>
								</div>
							</div>
						</a>
					</article>
					<article class="col-12 col-lg-6">
						<a
							href="servicio.html"
							class="card text-decoration-none text-reset"
						>
							<div class="d-flex flex-column flex-sm-row">
								<div class="d-flex d-sm-block">
									<img
										src="https://placehold.co/200/skyblue/white"
										class="rounded-start col"
										alt="Servicio"
									/>
								</div>
								<div>
									<div class="card-body">
										<h5 class="card-title fw-bold">Nombre del servicio</h5>
										<p class="card-text">
											<small class="text-muted">Nombre de la empresa</small>
										</p>
										<p class="card-text">
											This is a wider card with supporting text below as a
											natural lead-in to additional content. This content is a
											little bit longer.
										</p>
									</div>
								</div>
							</div>
						</a>
					</article>
				</div>
			</div>
		</main>
		<footer class="bg-light py-4 mt-5">
			<div class="container">
				<p class="mb-0 text-center">&copy; 2023 HogarFinder</p>
			</div>
		</footer>
		<!-- Bootstrap Javascript -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
			crossorigin="anonymous"
		></script>
	</body>
</html>
